In [1]:
!pip install streamlit

Collecting streamlit
  Downloading streamlit-1.41.1-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: altair<6,>=4.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.0.0 in /usr/lib/python3/dist-packages (from streamlit) (1.4)
Requirement already satisfied: cachetools<6,>=4.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (5.5.0)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (8.1.7)
Requirement already satisfied: numpy<3,>=1.23 in /usr/local/lib/python3.10/dist-packages (from streamlit) (1.26.4)
Requirement already satisfied: packaging<25,>=20 in /usr/local/lib/python3.10/dist-packages (from streamlit) (24.1)
Requirement already satisfied: pandas<3,>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (2.1.4)
Requirement already satisfied: pillow<12,>=7.1.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (10.4.0)
Requirement already satisfied: protobuf<6,>=3.20 in /usr/local/lib/python3.10/dist-packages (from streamlit) (3.20.3)
Requirement already satisfied: pyarrow>=7.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (18.1.0)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.10/dist-packages (from streamlit) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (13.8.1)
Requirement already satisfied: tenacity<10,>=8.1.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in /usr/local/lib/python3.10/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (4.12.2)
Requirement already satisfied: watchdog<7,>=2.1.5 in /usr/local/lib/python3.10/dist-packages (from streamlit) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /usr/local/lib/python3.10/dist-packages (from streamlit) (3.1.43)
Collecting pydeck<1,>=0.8.0b4 (from streamlit)
  Downloading pydeck-0.9.1-py2.py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: tornado<7,>=6.0.3 in /usr/local/lib/python3.10/dist-packages (from streamlit) (6.3.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from altair<6,>=4.0->streamlit) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.10/dist-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in /usr/local/lib/python3.10/dist-packages (from altair<6,>=4.0->streamlit) (1.18.4)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.10/dist-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas<3,>=1.4.0->streamlit) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<3,>=1.4.0->streamlit) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas<3,>=1.4.0->streamlit) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->streamlit) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->streamlit) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->streamlit) (2024.8.30)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich<14,>=10.14.0->streamlit) (2.18.0)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.5)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.20.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.16.0)
Downloading streamlit-1.41.1-py2.py3-none-any.whl (9.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.1/9.1 MB 65.4 MB/s eta 0:00:00
Downloading pydeck-0.9.1-py2.py3-none-any.whl (6.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.9/6.9 MB 69.6 MB/s eta 0:00:00
Installing collected packages: pydeck, streamlit
Successfully installed pydeck-0.9.1 streamlit-1.41.1

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st

In [3]:
data = pd.read_csv('/kaggle/input/realestateqatar/weekly-real-estate-newsletter.csv', delimiter = ';', encoding = 'UTF-8')

In [4]:
data.head()

,Date of Contract,Municipality Name,اسم البلدية,Zone Name,اسم المنطقة,Real Estate Type,نوع العقار,Area in Square Meters,Price per Square Foot,Real Estate Value,geo_point_2d
0,2025-01-02,Al Daayen,الظعاين,Al Ebb,العب,Residence,مسكن,600,681.0,4400000,"25.506442965229745, 51.466419091145966"
1,2025-01-02,Umm Slal,أم صلال,Umm Slal Ali,ام صلال علي,Residence,مسكن,1175,190.0,2400000,"25.468814293441394, 51.34446945529472"
2,2025-01-02,Doha,الدوحة,Al Mansoura,المنصوره,Residence,مسكن,687,723.0,5350000,"25.277967458892473, 51.52339248614074"
3,2025-01-02,Doha,الدوحة,Madinat Khalifa South,مدينة خليفة الجنوبية,Shops,محل,594,978.0,6250000,"25.277967458892473, 51.52339248614074"
4,2025-01-02,Doha,الدوحة,Madinat Khalifa North,مدينة خليفة الشمالية,Residence,مسكن,753,771.0,6250000,"25.277967458892473, 51.52339248614074"

In [5]:
data.shape

(20440, 11)

In [6]:
data.columns

Index(['Date of Contract', 'Municipality Name', 'اسم البلدية', 'Zone Name',
       'اسم المنطقة', 'Real Estate Type', 'نوع العقار',
       'Area in Square Meters', 'Price per Square Foot', 'Real Estate Value',
       'geo_point_2d'],
      dtype='object')

In [7]:
import re

# Define a function to check if a string contains Arabic characters
def contains_arabic(s):
    arabic_re = re.compile(r'[\u0600-\u06FF]')
    return bool(arabic_re.search(s))

# Identify columns with Arabic names
columns_to_drop = [col for col in data.columns if contains_arabic(col)]

# Drop the identified columns
df_english = data.drop(columns=columns_to_drop)

# Display the cleaned DataFrame
print(df_english.head())

  Date of Contract Municipality Name              Zone Name Real Estate Type  \
0       2025-01-02         Al Daayen                 Al Ebb        Residence
1       2025-01-02          Umm Slal           Umm Slal Ali        Residence
2       2025-01-02              Doha            Al Mansoura        Residence
3       2025-01-02              Doha  Madinat Khalifa South            Shops
4       2025-01-02              Doha  Madinat Khalifa North        Residence

   Area in Square Meters  Price per Square Foot  Real Estate Value  \
0                    600                  681.0            4400000
1                   1175                  190.0            2400000
2                    687                  723.0            5350000
3                    594                  978.0            6250000
4                    753                  771.0            6250000

                             geo_point_2d
0  25.506442965229745, 51.466419091145966
1   25.468814293441394, 51.34446945529472
2   25.277967458892473, 51.52339248614074
3   25.277967458892473, 51.52339248614074
4   25.277967458892473, 51.52339248614074

In [8]:
df = df_english

In [9]:
df

,Date of Contract,Municipality Name,Zone Name,Real Estate Type,Area in Square Meters,Price per Square Foot,Real Estate Value,geo_point_2d
0,2025-01-02,Al Daayen,Al Ebb,Residence,600,681.000000,4400000,"25.506442965229745, 51.466419091145966"
1,2025-01-02,Umm Slal,Umm Slal Ali,Residence,1175,190.000000,2400000,"25.468814293441394, 51.34446945529472"
2,2025-01-02,Doha,Al Mansoura,Residence,687,723.000000,5350000,"25.277967458892473, 51.52339248614074"
3,2025-01-02,Doha,Madinat Khalifa South,Shops,594,978.000000,6250000,"25.277967458892473, 51.52339248614074"
4,2025-01-02,Doha,Madinat Khalifa North,Residence,753,771.000000,6250000,"25.277967458892473, 51.52339248614074"
...,...,...,...,...,...,...,...,...
20435,2020-02-16,Al Rayyan,Al Aziziya,Residence,900,381.932000,3700000,"24.928100723590358, 51.08167176463156"
20436,2020-01-15,Al Wakrah,Al Wakrah,Vacant Land,505,279.995000,1522000,NaN
20437,2020-01-09,Doha,Al Thumama,Vacant Land,491,321.658000,1700000,"25.277967458892473, 51.52339248614074"
20438,2019-12-15,Al Rayyan,Izghawa,Vacant Land,771,361.287000,2999999,"24.928100723590358, 51.08167176463156"
20439,2019-03-19,Al Rayyan,Al Maamoura,Vacant Land,488,300.019037,1576000,"24.928100723590358, 51.08167176463156"

In [10]:
df.isnull().sum()

Date of Contract            0
Municipality Name           0
Zone Name                   0
Real Estate Type            0
Area in Square Meters       0
Price per Square Foot       0
Real Estate Value           0
geo_point_2d             3263
dtype: int64

In [11]:
df.columns

Index(['Date of Contract', 'Municipality Name', 'Zone Name',
       'Real Estate Type', 'Area in Square Meters', 'Price per Square Foot',
       'Real Estate Value', 'geo_point_2d'],
      dtype='object')

In [12]:
df

,Date of Contract,Municipality Name,Zone Name,Real Estate Type,Area in Square Meters,Price per Square Foot,Real Estate Value,geo_point_2d
0,2025-01-02,Al Daayen,Al Ebb,Residence,600,681.000000,4400000,"25.506442965229745, 51.466419091145966"
1,2025-01-02,Umm Slal,Umm Slal Ali,Residence,1175,190.000000,2400000,"25.468814293441394, 51.34446945529472"
2,2025-01-02,Doha,Al Mansoura,Residence,687,723.000000,5350000,"25.277967458892473, 51.52339248614074"
3,2025-01-02,Doha,Madinat Khalifa South,Shops,594,978.000000,6250000,"25.277967458892473, 51.52339248614074"
4,2025-01-02,Doha,Madinat Khalifa North,Residence,753,771.000000,6250000,"25.277967458892473, 51.52339248614074"
...,...,...,...,...,...,...,...,...
20435,2020-02-16,Al Rayyan,Al Aziziya,Residence,900,381.932000,3700000,"24.928100723590358, 51.08167176463156"
20436,2020-01-15,Al Wakrah,Al Wakrah,Vacant Land,505,279.995000,1522000,NaN
20437,2020-01-09,Doha,Al Thumama,Vacant Land,491,321.658000,1700000,"25.277967458892473, 51.52339248614074"
20438,2019-12-15,Al Rayyan,Izghawa,Vacant Land,771,361.287000,2999999,"24.928100723590358, 51.08167176463156"
20439,2019-03-19,Al Rayyan,Al Maamoura,Vacant Land,488,300.019037,1576000,"24.928100723590358, 51.08167176463156"

In [13]:
df['Municipality Name'].value_counts()

Municipality Name
Doha                      5729
Al Rayyan                 4972
Al Daayen                 3563
Umm Slal                  2016
Al Wakrah                 2015
Al Khor and Al Dakhira    1148
Al Shamal                  845
Al Sheehaniya               52
Al Doha                     48
Al wakra                    45
Al Khor and Al Khor          4
Umm SlaUmm Slal              3
Name: count, dtype: int64

In [14]:
df['Zone Name'].value_counts()

Zone Name
Umm Qarn            1152
Al Wukair           1080
Al Khor              830
Al Wakrah            751
The Pearl Island     725
                    ...
gtaifiya               1
Al Souq                1
فريج بن محمود          1
Afjat AlMuaither       1
Fereej Al Murra        1
Name: count, Length: 285, dtype: int64

In [15]:
df['Real Estate Type'].value_counts()

Real Estate Type
Residence                                     9275
Vacant Land                                   8385
Residential Unit                              1272
Residential Building                           993
Multi-purpose Building                         149
Apartment Complex                              145
Commercial Building                             76
Shops                                           46
Multi-purpose Vacant Land                       16
Tower                                            9
commercial Building                              8
Residential Tower                                8
Residential commercial building                  6
Residential Building and Shops                   6
Residential  Tower                               4
Commercial Residential Building and  Shops       3
Administrative and commercial building           3
Residential building                             3
Hotel                                            3
Commercial and AdministrativeBuilding            3
Palace                                           3
Building                                         2
Hotel Appartments                                2
Residential Building and  Shops                  2
Administrative Building                          2
Administrative  building                         1
Multi-Purpose Commerial Building                 1
Commercial and administrative building           1
Commercial Residential Building and Shops        1
Residential Building and Shop                    1
Residential Building and shops                   1
Shops and administrative offices                 1
Building Complex                                 1
Administrative Building and shops                1
Commercial and Administrative building           1
Residential Commercial Building and Shops        1
Commercial and residential Building              1
Administrative building                          1
Hotel Apartments                                 1
Commercial Residential Building                  1
mmercial Building                                1
Name: count, dtype: int64

In [16]:
df.to_csv('qatar_re.csv')

In [17]:
df.dtypes

Date of Contract          object
Municipality Name         object
Zone Name                 object
Real Estate Type          object
Area in Square Meters      int64
Price per Square Foot    float64
Real Estate Value          int64
geo_point_2d              object
dtype: object